body {

    background-color: beige;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#anchorTag{
    text-align: center;
}
@keyframes changeColor {
    100% {
        color:blueviolet;
    }
    500% {
        color: blue;
    }
    10% {
        color: green;
    }
}
.header {
    text-align: center;
    text-decoration: underline;
    color: blueviolet;
    animation: changeColor 2s infinite;
}

a {
    text-decoration: none;
    margin: 5px;
    padding: 10px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 100px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    text-align: center;

}

a:hover {
    background-color: aqua;
    text-decoration: underline;
}

.carousel-inner {
    border-radius: 10px;
    
    /* overflow: hidden; */
}

.carousel-item {
    text-align: center;
}

.corousel-item {
    /* max-height: 400px; */
    /* Adjust the maximum height of the images */
    /* width: auto; */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(224, 46, 46, 0.1);

}

img {
    height: 60vw;
    width: 100vw;
    border-radius: 100px;
  
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.container p {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}