h1{
    text-align: center;
    text-decoration: underline;
}
p{
    font-size: large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card{
    display:grid;
    justify-content: center;
}